{% extends 'base.html' %}

{% block title %}Dodavanje novog pacijenta{% endblock %}

{% block content %}
    <h1>Dodavanje novog pacijenta</h1>

    <form method="POST" action="{{ url_for('add_patient') }}">
        <div class="form-group">
            <label for="health_card_id">Health Card ID:</label>
            <input type="text" id="health_card_id" name="health_card_id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Patient</button>
    </form>
{% endblock %}
