<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Patient Data{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='close-up-stethoscope-blank-blue-background.jpg') }}"); 
            background-size:cover;
        }


        .navbar-toggler {
            background-color: #f9f9f9; 
            
        }

        .table {
            background-color: #f9f9f9; 
           
            
        }

        

   

 canvas{
    background-color: #f9f9f9;
 }

 






     
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Lista Pacijenata</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_patient') }}">Dodavanje novog pacijenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_patient_data') }}">Ubacivanje podataka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('simulate') }}">Simuliranje podataka</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
