{% extends 'base.html' %}

{% block title %}Patient Data{% endblock %}

{% block content %}
    <h1>Patient Data</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Heart Rate (bpm)</th>
                <th>GSR</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient[0] }}</td>
                <td>{{ patient[1] }}</td>
                <td>{{ patient[2] }}</td>
                <td>{{ patient[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
