{% extends 'base.html' %}

{% block title %}Lista Pacijenata{% endblock %}

{% block content %}
<h1>Lista Pacijenata</h1>

<!-- Tabela sa podacima o pacijentima -->
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Health Card ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Detalji</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient[0] }}</td> <!-- Health Card ID -->
            <td>{{ patient[1] }}</td> <!-- Ime -->
            <td>{{ patient[2] }}</td> <!-- Prezime -->
            <td>
                <a href="{{ url_for('pacijenti_detalji', health_card_id=patient[0]) }}" class="btn btn-primary">
                    Pogledaj Detalje
                </a>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
